{% extends 'base.html' %} <!-- inheriting from base.html -->
{% load static %}

<!-- overriding block title from base template -->
{% block title %}  
  Home Page
{% endblock %}


{% block extrahead %}  <!-- overriding which stylesheet to use -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %} <!-- overriding the contect block to use -->
  <!-- begining of the porfolio page -->

  <section class="hero container">
    <div class="hero-blue">
      <div>
        <h1><small>Hi I'm</small>
          Nathan Kuissi
        </h1>
        <p>
          Data Science student at the University of Waterloo. <span>I'm interested Machine Learning and using various research technique to create solutions and solve problems.</span>
        </p>
        <div class="call-to-action">
          <a href="{% static 'pdf/Resume.pdf' %}" class="button black">
            View Resume
          </a>
          <a href="mailto:nategabrielk@icloud.com" class="button white">
            Contact Me
          </a>
        </div>
        <div class="social-links">
          <a href="https://github.com/natek-1">
            <img src="{% static 'images/github.png' %}" alt="GitHub" width="48" />
          </a>
          <a href="https://www.linkedin.com/in/ngkuissi/">
            <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" width="48" />
          </a>
        </div>
      </div>
    </div>
    <div class="hero-yellow">
      <img src="{% static 'images/profile-image.png' %}" alt="Nathan Kuissi" width="100%" />
    </div>
  </section>

  <section class="logos container">
    <div class="marquee">
      <div class="track">
        <a href="https://www.docker.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker"/> </a>
        <a href="https://git-scm.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git"/> </a>
        <a href="https://github.com/features/actions" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/GitHub-Actions.svg" alt="Github Actions"/> </a>
        <a href="https://github.com/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/GitHub.png" alt="GitHub"/> </a>
        <a href="https://www.mongodb.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb"/> </a>
        <a href="https://www.mysql.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql"/> </a>
        <a href="https://www.python.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python"/> </a>
        <a href="https://pytorch.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/PyTorch.svg" alt="pytorch"/> </a>
        <a href="https://scikit-learn.org/" target="_blank"> <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg" alt="scikit_learn"/> </a>
        <a href="https://www.tensorflow.org" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/TensorFlow.svg" alt="tensorflow"/> </a>
        <a href="https://code.visualstudio.com/" target="_blank"> <img src="https://www.svgrepo.com/show/374171/vscode.svg" alt="VSCode"/> </a>
        <a href="https://conda.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/Anaconda.svg" alt="Conda"/> </a>
        <a href="https://www.gnu.org/software/bash/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Bash.png" alt="Bash"/> </a>
        <a href="https://pandas.pydata.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Pandas.png" alt="Pandas"/> </a>
        <a href="https://aws.amazon.com" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/AWS.png" alt="AWS"/> </a>
        <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Flask.png" alt="Flask"/> </a>
        <a href="https://www.docker.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker"/> </a>
        <a href="https://git-scm.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git"/> </a>
        <a href="https://github.com/features/actions" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/GitHub-Actions.svg" alt="Github Actions"/> </a>
        <a href="https://github.com/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/GitHub.png" alt="GitHub"/> </a>
        <a href="https://www.mongodb.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb"/> </a>
        <a href="https://www.mysql.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql"/> </a>
        <a href="https://www.python.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python"/> </a>
        <a href="https://pytorch.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/PyTorch.svg" alt="pytorch"/> </a>
        <a href="https://scikit-learn.org/" target="_blank"> <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg" alt="scikit_learn"/> </a>
        <a href="https://www.tensorflow.org" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/TensorFlow.svg" alt="tensorflow"/> </a>
        <a href="https://code.visualstudio.com/" target="_blank"> <img src="https://www.svgrepo.com/show/374171/vscode.svg" alt="VSCode"/> </a>
        <a href="https://conda.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/Anaconda.svg" alt="Conda"/> </a>
        <a href="https://www.gnu.org/software/bash/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Bash.png" alt="Bash"/> </a>
        <a href="https://pandas.pydata.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Pandas.png" alt="Pandas"/> </a>
        <a href="https://aws.amazon.com" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/AWS.png" alt="AWS"/> </a>
        <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Flask.png" alt="Flask"/> </a>
      </div>
    </div>
  </section>

  <section id="skills" class="skills container">
    <h2>
      <small>About Me</small>
      Skills
    </h2>
    <div class="holder-blue">
      <div class="left-column">
        <h3>Machine Learning Packages</h3>
        <ul>
          <li>Python</li>
          <li>Pytorch</li>
          <li>TensorFlow</li>
          <li>Scikit-Learn</li>   
          <li>Pandas</li>
          <li>Numpy</li>
          <li>Docker</li>
        </ul>
        <h3> Machine Learning Fields </h3>
        <ul>
          <li>Object Detection</li>
          <li>GANS</li>
          <li>Image Segmentation</li>
          <li>Natural Language Processing</li>
          <li>Text Generation</li>
        </ul>
      </div>
      <div class="right-column">
        <h3>A bit about me</h3>
        <p>
          Hi I'm Nathan Kuissi, currently a second year Data Science Student at the university of Waterloo. I'm interested in AI and learning the fondation of models in fields like computer vision and NLP.
        </p>
        <p>
          I keep up with the more recent developments in the field by reading research papers. I apply the knowledge I have through a large array of projects!
        </p>
      </div>
    </div>
  </section>

  <section class="work-experience container">
    <h2>
      <small>Recent</small>
      Work Experience
    </h2>
    <div class="jobs">
      <article>
        <figure>
          <div>
            <img src="{% static 'images/warg.png' %}" alt="WARG" width="100%" />
            <figcaption>
              Computer Vision Team
            </figcaption>
          </div>
        </figure>
        <h3>Waterloo Areial Robotics Group</h3>
        <div>2020-current</div>
        <p>Worked as a member of the path optimization sub team in the computer vision group</p>
      </article>
      <article>
        <figure>
          <div>
            <img src="./imgs/workplace-2.jpg" alt="Workplace 2 -" width="100%" />
            <figcaption>
              Workplace - 2
            </figcaption>
          </div>
        </figure>
        <h3>Comapny name of job 2</h3>
        <div>20018-2020</div>
        <p>Description for workplace-2 </p>
      </article>
      <article>
        <figure>
          <div>
            <img src="./imgs/workplace-3.jpg" alt="Workplace 3 - Chamber of Commerce" width="100%" />
            <figcaption>
              Workplace - 3
            </figcaption>
          </div>
        </figure>
        <h3>Comapny name of job 3</h3>
        <div>2013-2018</div>
        <p>Job Decription for Job 3.</p>
      </article>
    </div>
  </section>


  <section class="filters">
    <input type="text" id="name-search" placeholder="Search by project name..." />
    <div class="tags-list">
      {% for tag in tags %}
        <button class="tag" data-tag="{{ tag.name|lower }}">{{ tag.name }}</button>
      {% endfor %}
    </div>
  </section> <!-- searching for projects -->


  <section id="projects" class="projects-list container"> <!-- displaying all the projects -->
    {% for project in projects %}
      <div class="project" data-name="{{ project.title|lower }}" data-tags="{{ project.tags.all|join:', '|lower }}">
        <h2><a href="{% url 'project' project.id %}">{{project.title}}</a></h2>
        <p>{{project.description}}</p>
        <p>Tags: {{project.tags.all|join:', '}}</p>
      </div>
    {% endfor %}
    </section>
{% endblock %}

{% block extra_js %} <!-- overriding the java scrip block -->
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}