{% extends 'base.html' %} <!-- inheriting from base.html -->
{% load static %}

<!-- overriding block title from base template -->
{% block title %}  
  Home Page
{% endblock %}


{% block extrahead %}  <!-- overriding which stylesheet to use -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %} <!-- overriding the contect block to use -->
  <!-- begining of the porfolio page -->

  <section class="hero container">
    <div class="hero-blue">
      <div>
        <h1><small>Hi I'm</small>
          Nathan Kuissi
        </h1>
        <p>
          Data Science student at the University of Waterloo. <span>I'm interested Machine Learning and using various research technique to create solutions and solve problems.</span>
        </p>
        <div class="call-to-action">
          <a href="{% static 'pdf/Resume.pdf' %}" class="button black">
            View Resume
          </a>
          <a href="mailto:nategabrielk@icloud.com" class="button white">
            Contact Me
          </a>
        </div>
        <div class="social-links">
          <a href="https://github.com/natek-1">
            <img src="{% static 'images/github.png' %}" alt="GitHub" width="48" />
          </a>
          <a href="https://www.linkedin.com/in/ngkuissi/">
            <img src="{% static 'images/linkedin.png' %}" alt="LinkedIn" width="48" />
          </a>
        </div>
      </div>
    </div>
    <div class="hero-yellow">
      <img src="{% static 'images/profile-image.png' %}" alt="Nathan Kuissi" width="100%" />
    </div>
  </section>

  <section class="logos container">
    <div class="marquee">
      <div class="track">
        <a href="https://www.docker.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker"/> </a>
        <a href="https://git-scm.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git"/> </a>
        <a href="https://github.com/features/actions" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/GitHub-Actions.svg" alt="Github Actions"/> </a>
        <a href="https://github.com/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/GitHub.png" alt="GitHub"/> </a>
        <a href="https://www.mongodb.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb"/> </a>
        <a href="https://www.mysql.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql"/> </a>
        <a href="https://www.python.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python"/> </a>
        <a href="https://pytorch.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/PyTorch.svg" alt="pytorch"/> </a>
        <a href="https://scikit-learn.org/" target="_blank"> <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg" alt="scikit_learn"/> </a>
        <a href="https://www.tensorflow.org" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/TensorFlow.svg" alt="tensorflow"/> </a>
        <a href="https://code.visualstudio.com/" target="_blank"> <img src="https://www.svgrepo.com/show/374171/vscode.svg" alt="VSCode"/> </a>
        <a href="https://conda.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/Anaconda.svg" alt="Conda"/> </a>
        <a href="https://www.gnu.org/software/bash/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Bash.png" alt="Bash"/> </a>
        <a href="https://pandas.pydata.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Pandas.png" alt="Pandas"/> </a>
        <a href="https://aws.amazon.com" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/AWS.png" alt="AWS"/> </a>
        <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Flask.png" alt="Flask"/> </a>
        <a href="https://www.docker.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original-wordmark.svg" alt="docker"/> </a>
        <a href="https://git-scm.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git"/> </a>
        <a href="https://github.com/features/actions" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/GitHub-Actions.svg" alt="Github Actions"/> </a>
        <a href="https://github.com/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/GitHub.png" alt="GitHub"/> </a>
        <a href="https://www.mongodb.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb"/> </a>
        <a href="https://www.mysql.com/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-original-wordmark.svg" alt="mysql"/> </a>
        <a href="https://www.python.org" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="python"/> </a>
        <a href="https://pytorch.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/PyTorch.svg" alt="pytorch"/> </a>
        <a href="https://scikit-learn.org/" target="_blank"> <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg" alt="scikit_learn"/> </a>
        <a href="https://www.tensorflow.org" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/TensorFlow.svg" alt="tensorflow"/> </a>
        <a href="https://code.visualstudio.com/" target="_blank"> <img src="https://www.svgrepo.com/show/374171/vscode.svg" alt="VSCode"/> </a>
        <a href="https://conda.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/svg/Anaconda.svg" alt="Conda"/> </a>
        <a href="https://www.gnu.org/software/bash/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Bash.png" alt="Bash"/> </a>
        <a href="https://pandas.pydata.org/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Pandas.png" alt="Pandas"/> </a>
        <a href="https://aws.amazon.com" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/AWS.png" alt="AWS"/> </a>
        <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank"> <img src="https://icon.icepanel.io/Technology/png-shadow-512/Flask.png" alt="Flask"/> </a>
      </div>
    </div>
  </section>



  <div class="filters">
    <input type="text" id="name-search" placeholder="Search by project name..." />
    <div class="tags-list">
      {% for tag in tags %}
        <button class="tag" data-tag="{{ tag.name|lower }}">{{ tag.name }}</button>
      {% endfor %}
    </div>
  </div> <!-- searching for projects -->


  <div id="projects" class="projects-list"> <!-- displaying all the projects -->
    {% for project in projects %}
      <div class="project" data-name="{{ project.title|lower }}" data-tags="{{ project.tags.all|join:', '|lower }}">
        <h2><a href="{% url 'project' project.id %}">{{project.title}}</a></h2>
        <p>{{project.description}}</p>
        <p>Tags: {{project.tags.all|join:', '}}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %} <!-- overriding the java scrip block -->
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}