/* Filters section */
.filters {
    margin-bottom: 20px;
  }

.hero {
  display:flex;
  @media (max-width:1024px){
    flex-direction:column;
  }
  .hero-blue {
    flex:1;
    background-color: var(--blue-100);
    border-radius:30px;
    padding:30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    span {
      @media (max-width:768px){
        display:none;
      }
    }
    .call-to-action {
      margin-top:20px;
      margin-bottom:10px;
      a {
        margin-right:10px;
        margin-bottom:10px;
      }
    }
    .social-links {
      a {
        &:hover {
          text-decoration:none;
        }
      }
    }
  }
  .hero-yellow {
    flex:1;
    background-color: var(--yellow);
    border-radius:30px;
    padding:0px 30px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    img {
      margin-top:-60px;
      max-width:420px;
      margin-bottom:-10px;
    }
  }
}

.logos {
	background-color: var(--base-100);
	border-radius:30px;
	padding:30px 0px;
	@media (max-width:1440px){
		border-radius:0px;
	}
	.marquee {
		width:100vw;
		max-width:100%;
		height:128px;
		overflow:hidden;
		position:relative;
		.track {
			position:absolute;
			white-space:nowrap;
			will-change:transform;
			animation: marquee 40s linear infinite;
			display:flex;
			gap:10px;
      img {
        height: 100px;
        width: 100px;
        margin-top:10px;
        margin-bottom:10px;
      }

		}
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.skills {
	.holder-blue {
		background-color: var(--blue-100);
		border-radius:30px;
		padding:30px;
		display:flex;
		@media(max-width:1024px){
			flex-direction:column;
		}
		.left-column {
			flex:1;
			ul {
				list-style-type: none;
				gap:10px;
				margin-right:100px;
				margin-bottom:20px;
				li {
					display:inline-block;
					background-color: var(--blue-400);
					padding:10px 20px;
					border-radius:15px;
					margin-bottom:10px;
				}
			}
		}
		.right-column {
			flex:1;
			p {
				margin-bottom:20px;
			}
		}
	}
}

.work-experience {
	.jobs {
		display:flex;
		gap:30px;
		@media(max-width:1024px){
			flex-direction:column;
		}
		article {
			background-color: var(--yellow-100);
			padding:30px;
			border-radius:30px;
			flex:1;
			h3 {
				margin-top:20px;
				margin-bottom:10px;
			}
			div {
				font-weight:600;
				margin-bottom:5px;
				color: var(--base-800);
			}
			p {
				margin-bottom:10px;
			}
			figure {
				width:100%;
				padding-top:56.25%;
				overflow:hidden;
				position:relative;
				border-radius:15px;
				img {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					object-fit:cover;
					transition: ease 3s all;
				}
				figcaption {
					position:absolute;
					bottom:0;
					left:0;
					right:0;
					background-color: rgba(0,0,0,0.5);
					color: var(--base-100);
					text-align:center;
					padding:10px;
					opacity:0;
					visibility:hidden;
					transition: ease 0.3s all;
				}

				&:hover {
					figcaption {
						opacity:1;
						visibility:visible;
					}
					img {
						transform: scale(1.2);
					}
				}

			}
		}
	}
}


  #name-search {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tag:hover {
    background-color: #0056b3;
  }
  
  /* Projects list */
  .projects {
    margin-top: 20px;
  }
  
  .project {
    background-color: var(--base-100);
    display: grid;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .tags-list {
      flex-direction: column;
    }
  }